<!-- <app-navbar></app-navbar> -->

<div align="center">
    <h1 *ngIf="!form.data.id" align="center" style="margin-bottom: 5px; color: navy">Add Courier</h1>
    <h1 *ngIf="form.data.id>0" align="center" style="margin-bottom: 5px; color: navy">Update Courier</h1>

    <div style="height: 20px; margin-bottom: 10px; text-align: center;">
        <h3 style="margin: 0; color: green;" *ngIf="!form.error && form.message">{{ form.message }}</h3>
        <h3 style="margin: 0; color: red;" *ngIf="form.error && form.message">{{ form.message }}</h3>
    </div>

    <table>
        <tr>
            <th align="left">Roll No. <span style="color: red">*</span></th>
            <td><input type="text" name="rollNo" [(ngModel)]="form.data.rollNo" placeholder="Enter Roll No."></td>
            <td style="position: fixed; color: red;">{{form.inputerror.rollNo}}</td>
        </tr>

        <tr>
            <th align="left">Name<span style="color: red">*</span></th>
            <td><input type="text" name="name" [(ngModel)]="form.data.name" placeholder="Enter Name"></td>
            <td style="position: fixed; color: red;">{{form.inputerror.name}}</td>
        </tr>

        <tr>
            <th align="left">Course<span style="color: red">*</span></th>
            <td><input type="text" name="course" [(ngModel)]="form.data.course" placeholder="Enter Course"></td>
            <td style="position: fixed; color: red;">{{form.inputerror.course}}</td>
        </tr>

        <tr>
            <th align="left">Percentage<span style="color: red">*</span></th>
            <td><input type="text" name="percentage" [(ngModel)]="form.data.percentage" placeholder="Enter Percentage"></td>
            <td style="position: fixed; color: red;">{{form.inputerror.percentage}}</td>
        </tr>

        <tr></tr>

        <!-- <tr>
            <th></th>
            <td align="left" colspan="2">
                <button (click)="submit()">save</button> &nbsp;
                <button (click)="forward('/collegelist')">list</button>
            </td>
        </tr> -->

        <tr>
            <th></th>
            <td *ngIf="!form.data.id" align="left" colspan="2">
                <button (click)="submit()">Save</button> &nbsp;
                <button (click)="reset()">Reset</button>
            </td>
            <td *ngIf="form.data.id" align="left" colspan="2">
                <button (click)="submit()">Save</button> &nbsp;
                <button (click)="forward('/candidateList')">Cancel</button>
            </td>
        
        </tr>

    </table>
</div>

<!-- <app-footer></app-footer> -->